header {
    /* background-color: #f2f2f2; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    width: 85px; /* Adjust the width of the logo as needed */
    height: auto;
    margin-right: 20px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .navigation a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s;
  }
  
  .navigation a:hover {
    color: blue; /* Hover color */
  }